[submodule "packages/haiku-bytecode"]
	path = packages/haiku-bytecode
	url = git@github.com:HaikuTeam/bytecode
[submodule "packages/haiku-cli"]
	path = packages/haiku-cli
	url = git@github.com:HaikuTeam/cli
[submodule "packages/haiku-creator"]
	path = packages/haiku-creator
	url = git@github.com:HaikuTeam/creator
[submodule "packages/haiku-interpreter"]
	path = packages/haiku-interpreter
	url = git@github.com:HaikuTeam/interpreter
[submodule "packages/haiku-npm"]
	path = packages/haiku-npm
	url = git@github.com:HaikuTeam/haiku-npm
[submodule "packages/haiku-plumbing"]
	path = packages/haiku-plumbing
	url = git@github.com:HaikuTeam/plumbing
[submodule "packages/haiku-sdk"]
	path = packages/haiku-sdk
	url = git@github.com:HaikuTeam/sdk
[submodule "packages/haiku-serialization"]
	path = packages/haiku-serialization
	url = git@github.com:HaikuTeam/serialization
[submodule "packages/haiku-state-object"]
	path = packages/haiku-state-object
	url = git@github.com:HaikuTeam/StateObject
[submodule "packages/haiku-timeline"]
	path = packages/haiku-timeline
	url = git@github.com:HaikuTeam/timeline
[submodule "packages/haiku-websockets"]
	path = packages/haiku-websockets
	url = git@github.com:HaikuTeam/websockets
[submodule "packages/haiku-glass"]
	path = packages/haiku-glass
	url = git@github.com:HaikuTeam/glass.git
[submodule "packages/haiku-sdk-inkstone"]
	path = packages/haiku-sdk-inkstone
	url = git@github.com:HaikuTeam/sdk-inkstone.git
[submodule "packages/haiku-sdk-client"]
	path = packages/haiku-sdk-client
	url = git@github.com:HaikuTeam/sdk-client.git
