.btn-icon {
  width: .77em;
  height: .77em;
  position: relative;
  vertical-align: middle;
}

.preview-icon {
  width: 90px;
  height: 74px;
  position: relative;
  vertical-align: middle;
}

.toast-icon {
  width:24px;
  height:20px;
  position: relative;
  vertical-align: middle;
}