<!DOCTYPE html>
<!-- Copyright (c) 2016-2017 Haiku. All rights reserved. -->
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{demo}} | Vanilla JavaScript | Haiku Player</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    .mount {
      border: 1px solid black;
      height: 600px;
    }
  </style>
  <script src="/webpack/dom.js"></script>
  <script src="/webpack/reactDom.js"></script>
</head>
<body>
  <div class="container">
    <p><a href="/">&laquo; Back to demos</a></p>

    <h1>{{demo}} | Haiku Player</h1>

    {{#if note}}
      <p>{{note}}</p>
    {{/if}}

    <div class="row">
      <div class="col-md-6">
        <h2>vanilla</h2>
        <div class="mount" id="dom-mount"></div>
      </div>
      <div class="col-md-6">
        <h2>react</h2>
        <div class="mount" id="react-dom-mount"></div>
      </div>
    </div>
  </div>

  <script>
    const domMount = document.getElementById('dom-mount');
    dom.mount ? dom.mount(domMount) : dom(domMount);
    const reactDomMount = document.getElementById('react-dom-mount');
    reactDom.mount
      ? reactDom.mount(reactDomMount, reactDom.React, reactDom.ReactDOM)
      : reactDom.ReactDOM.render(reactDom.React.createElement(reactDom), reactDomMount);
  </script>
</body>
</html>
