<!DOCTYPE html>
<!-- Copyright (c) 2016-2018 Haiku. All rights reserved. -->
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Demos | Haiku Core</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1>Demos | Haiku Core</h1>
    <ul>
      {{#each demoList}}
        <li>
          <a href="{{this.vanillaUrl}}">{{this.name}}</a> | <a href="{{this.vanillaUrl}}/debug">(debug)</a>
        </li>
      {{/each}}
    </ul>
  </div>
</body>
</html>
